@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (T1908EOnlineCourse.Models.AspNetUser person in ViewBag.UserList)
    {
        <li>@person.Email</li>
    }
</ul>