
@{
    ViewBag.Title = "InformationTable";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model List<T1908EOnlineCourse.Models.Transaction>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Information Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Course</th>
                        <th>Price</th>
                                               
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.AspNetUser.Email</td>
                                <td>@item.Course.name</td>
                                <td>@item.Course.price</td>
                                                              
                            </tr>
                        }
                    }

                    </tbody>
            </table>
        </div>
    </div>
</div>
