@{
    ViewBag.Title = "Balance";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Balance</h2>

<div>
    <h4>My Balance</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
